nav{
    background-color: #F1E3C6;
    height: 15%;
}
nav .logo-nav{
    height: 5rem;
}

.navbar .navbar-nav{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

nav .nav-item .nav-link:hover{
    color: #bca37f;
    font-size: large;
}

nav .collapse{
    background-color: #F1E3C6;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

@media (max-width: 990px){
    nav .social_icon li{
        display: block;
        margin-right: 5rem;
    }
}

/*Yorumlar*/

.row{
    padding: 0 10px;
    margin-bottom: 2rem;

}

.card{
    text-align: center;
    box-shadow: 0 0 8px #F1E3C6;
    padding: 15px 10px;
    display: inline;
    width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.card .card-body{
    height: 17rem;
}

.card .review_icon i{
    color: #F1E3C6;
    font-size: 1rem;
    margin-bottom: 0;
}

.card h3{
    margin-bottom: 10px;
}

.card p{
    line-height: 1.5    rem;
}


/*Footer*/
footer{
    width: 100%;
    background: #F1E3C6;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag i:hover{
    color: #bca37f;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #113946;
    margin-bottom: -16px;
}

@media (max-width: 1000px) {
    footer{
        width: 100%;
        background: #F1E3C6;
        margin-top: 1rem;
    }
    
    footer .footer_main{
        width: 100%;
        display: inline;
        text-align: center;
    }
    
    footer .footer_main .tag{
        margin: 10px 0; 
        text-align: center;
        
    }
    
    footer .footer_main .tag img{
        width: 100px;
        margin-bottom: 10px;
    }
    
    footer .footer_main .tag p{
        width: 15rem;
        line-height: 22px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}